<ng-container *ngIf="cardSelected.current | async as card">
  <div class="header">
    <p>{{ card.name | uppercase }}</p>
  </div>

  <div class="summary">
    <app-card [card]="card"></app-card>

    <div class="bullets">
      <ng-container
        *ngIf="[
          { label: label.id, value: card.id },
          { label: label.type, value: card.type | uppercase },
          { label: label.race, value: card.race | uppercase },
          { label: label.attribute, value: card.attribute | uppercase },
          { label: label.level, value: card.level },
          { label: label.atk, value: card.atk },
          { label: label.def, value: card.def },
          { label: label.linkval, value: card.linkval },
          { label: label.ban, value: card.banlist_info?.ban_goat }
        ] as cardProperties"
      >
        <ng-container *ngFor="let property of cardProperties">
          <app-item-pair-value
            *ngIf="property.value"
            [key]="property.label"
            [value]="property.value"
            justify-content="space-between"
          ></app-item-pair-value>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="description">
    <p>{{ card.desc }}</p>
  </div>
</ng-container>
