:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--background);
  overflow: auto;
  max-height: 40rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}

li {
  width: 100%;
  max-width: 3rem;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;

  &:last-child {
    margin-right: 0;
  }
}
