<form [formGroup]="formSearch">
  <div class="form-element">
    <select formControlName="category">
      <option selected value>{{ texts.category }}</option>
      @for (category of categories; track category.value) {
        <option [value]="category.value">{{ category.text }}</option>
      }
    </select>

    <select formControlName="type">
      <option selected value>{{ texts.type }}</option>
      @for (type of currentType(); track type.value) {
        <option [value]="type.value">{{ type.text }}</option>
      }
    </select>
  </div>

  <div class="form-element">
    <select formControlName="attribute">
      <option selected value>{{ texts.attribute }}</option>
      @for (attribute of attributes; track attribute.value) {
        <option [value]="attribute.value">{{ attribute.text }}</option>
      }
    </select>

    <select formControlName="race">
      <option selected value>{{ texts.race }}</option>
      @for (race of races; track race.value) {
        <option [value]="race.value">{{ race.text }}</option>
      }
    </select>
  </div>

  <div class="form-element">
    <label for="query">{{ texts.query }}</label>
    <input id="query" type="text" formControlName="query" />
  </div>

  <div class="form-element">
    <label for="atk">{{ texts.atk }}</label>
    <input id="atk" type="number" formControlName="atk" />
  </div>

  <div class="form-element">
    <label for="def">{{ texts.def }}</label>
    <input id="def" type="number" formControlName="def" />
  </div>

  <div class="form-element">
    <label for="level">{{ texts.level }}</label>
    <input id="level" type="number" formControlName="level" />
  </div>

  <div class="form-element">
    <label for="link">{{ texts.link }}</label>
    <input id="link" type="number" formControlName="link" />
  </div>

  <div class="form-element">
    <label for="id">{{ texts.id }}</label>
    <input id="id" type="text" formControlName="id" />
  </div>
</form>
