<form [formGroup]="formSearch">
  <select formControlName="category">
    <option selected value>{{ texts.category }}</option>
    <option *ngFor="let category of categories" [value]="category.value">
      {{ category.text }}
    </option>
  </select>

  <select formControlName="type">
    <option selected value>{{ texts.type }}</option>
    <option *ngFor="let type of currentType" [value]="type.value">
      {{ type.text }}
    </option>
  </select>

  <select formControlName="attribute">
    <option selected value>{{ texts.attribute }}</option>
    <option *ngFor="let attribute of attributes" [value]="attribute.value">
      {{ attribute.text }}
    </option>
  </select>

  <select formControlName="race">
    <option selected value>{{ texts.race }}</option>
    <option *ngFor="let race of races" [value]="race.value">
      {{ race.text }}
    </option>
  </select>

  <input type="text" formControlName="query" />
</form>
