<div class="deck">
  <app-deck-header
    [name]="text.mainDeck"
    [total]="mainDeck().length"
  />

  <app-card-list
    cdkDropList
    [cards]="mainDeck()"
    [cdkDropListData]="mainDeck()"
    (cdkDropListDropped)="drop($event)"
  />
</div>

<div class="deck">
  <app-deck-header
    [name]="text.extraDeck"
    [total]="extraDeck().length"
  />

  <app-card-list
    cdkDropList
    [cards]="extraDeck()"
    [cdkDropListData]="extraDeck()"
    (cdkDropListDropped)="drop($event)"
  />
</div>
