<div *ngIf="mainDeck" class="deck">
  <app-deck-header
    [name]="text.mainDeck"
    [total]="mainDeck.length"
  ></app-deck-header>

  <app-card-list
    cdkDropList
    [cards]="mainDeck"
    [cdkDropListData]="mainDeck"
    (cdkDropListDropped)="drop($event)"
  ></app-card-list>
</div>

<div *ngIf="extraDeck" class="deck">
  <app-deck-header
    [name]="text.extraDeck"
    [total]="extraDeck.length"
  ></app-deck-header>

  <app-card-list
    cdkDropList
    [cards]="extraDeck"
    [cdkDropListData]="extraDeck"
    (cdkDropListDropped)="drop($event)"
  ></app-card-list>
</div>
