:host {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  .stats {
    display: flex;

    .total {
      margin-right: 1rem;
    }

    app-item-pair-value {
      margin-right: 1rem;
    }

    :last-child {
      margin-right: 0rem;
    }
  }
}

.content {
  display: flex;
  flex-wrap: wrap;

  app-card {
    max-width: 3rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
